<div  [ngSwitch] = "service.serviceUser.getState() | async" >

    <ng-template [ngSwitchCase]="service.serviceUser.States.unset">
        err
    </ng-template>

    <ng-template [ngSwitchCase]="service.serviceUser.States.loading">
        <img src="assets/img/load.gif">  
    </ng-template>

    <ng-template [ngSwitchCase]="service.serviceUser.States.valid">
        <ul>
            <li *ngFor="let fild of service.modelAsArray.Data">
                <div class="row">

                    <div class="col-sm-3 col-md-2 col-5">
                        <label style="font-weight:bold;"> {{fild.fildName}}</label>
                    </div>
                    <div class="col">
                        {{fild.value}}
                    </div>
                    
                </div>
                <hr />
            </li>
            <hr />
        </ul>
    </ng-template>
</div>
