
<div class="container" [ngSwitch] = "service.getState() | async" >

	<ng-template ngSwitchCase="unset">
		
		<div class="row justify-content-md-center">	
			<h1> UNKNOWN USER INFO </h1>
		</div>

	</ng-template>
    
	<ng-template ngSwitchCase="loading">

		
		<div class="row justify-content-md-center">	
			<img src="assets/img/load.gif">  
		</div>

	</ng-template>

	<ng-template ngSwitchCase="valid">

		<div class="row justify-content-md-center">	
			<h1> VALID USER INFO </h1>
		</div>

	</ng-template>

	<div class="row justify-content-md-center">	
		<h1> CONTENT PAGE </h1>
	</div>

</div>


