<app-carousel class="row justify-content-center" [slides]="slides"></app-carousel>

<div class="container" [ngSwitch]="service.serviceUser.getState() | async">

    <ng-template [ngSwitchCase]="service.serviceUser.States.unset">

        <div class="row justify-content-md-center">
            <h1> 1111 UNKNOWN USER INFO </h1>
        </div>

    </ng-template>

    <ng-template [ngSwitchCase]="service.serviceUser.States.loading">


        <div class="row justify-content-md-center">
            <img src="assets/img/load.gif">
        </div>

    </ng-template>

    <ng-template [ngSwitchCase]="service.serviceUser.States.valid">

        <div class="row justify-content-md-center">
            <h1> VALID USER INFO </h1>
        </div>

    </ng-template>

    <div class="row justify-content-md-center">
        <h1> CONTENT PAGE </h1>
    </div>

</div>