<div class="card">
    <div class="card-body">
        <div class="card-title mb-4">
            <div class="d-flex justify-content-start">

                <div class="image-container">
                    <img src="assets/img/unkn_user_logo.png" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                    <div class="middle">
                        <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                        <input type="file" style="display: none;" id="profilePicture" name="file" />
                    </div>
                </div>

                <div class="userData ml-3">
                    <h2 class="d-block" style="font-size: 3rem; font-weight: Bold; margin-bottom: 50px"> 

                        <div  [ngSwitch] = "service.getState() | async" >

                            <ng-template [ngSwitchCase]="service.States.unset">
                                err
                            </ng-template>

                            <ng-template [ngSwitchCase]="service.States.loading">
                                <img src="assets/img/load.gif">  
                            </ng-template>

                            <ng-template [ngSwitchCase]="service.States.valid">
                               {{service.model.fullName}}
                           </ng-template>

                        </div>    
                   </h2>

                   <button type="button" class="btn btn-info" (click)="state = 'show'"> Show</button>

                   <button type="button" class="btn btn-warning" (click)="state = 'edit'"> Edit </button>

                   <button type="button" class="btn btn-success" (click) = "saveChange()"> Save </button>

               </div>



           </div>
       </div>

       <div class="row">
        <div class="col-12">
            <div class="tab-content ml-1" id="myTabContent">
                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                    <hr />

                    <div *ngIf="state == 'show'"> 
                        <app-profile-show></app-profile-show>
                    </div>

                    <div *ngIf="state == 'edit'"> 
                        <app-profile-edit></app-profile-edit>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

