<div class="card">
    <div class="card-body">
        <div class="card-title mb-4">

            <div class="d-flex justify-content-start">
                <div class="image-container">
                    <img src="assets/img/unkn_user_logo.png" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                    <div class="middle">
                        <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                        <input type="file" style="display: none;" id="profilePicture" name="file" />
                    </div>
                </div>

                <div class="userData ml-3">
                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">{{service.model.fullName}}</a></h2>
                    <h6 class="d-block"><a href="javascript:void(0)">1,500</a> Video Uploads</h6>
                    <h6 class="d-block"><a href="javascript:void(0)">300</a> Blog Posts</h6>
                </div>

               
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="tab-content ml-1" id="myTabContent">
                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                        <hr />

                        <div  [ngSwitch] = "service.getState() | async" >

                            <ng-template ngSwitchCase="unset">
                                err
                            </ng-template>

                            <ng-template ngSwitchCase="loading">
                                <img src="assets/img/load.gif">  
                            </ng-template>


                            <ng-template ngSwitchCase="valid">
                                <ul>
                                    <li *ngFor="let fild of service.modelAsArray.Data">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;"> {{fild[0]}}</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{fild[1]}}
                                            </div>
                                        </div>
                                        <hr />
                                    </li>
                                </ul>
                            </ng-template>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
